<section class="p-3">
    <header>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" [checked]="accordion.IsMandatory">
            <label class="custom-control-label">
                <b>{{accordion.CategoyHeading}}</b>
            </label>
        </div>
        <a href="#" (click)="toggleExpansion($event)" class="text-secondary">
            <i class="bi" [class.bi-chevron-up]="isPluginExpanded" [class.bi-chevron-down]="!isPluginExpanded"></i>
        </a>
    </header>
    <div class="expanded" [class.expandable--expanded]="isPluginExpanded">
        <hr>
        <p class="text-secondary">{{accordion.CategoyText}}</p>
        <ul>
            <li>
                <b>Plugins</b>
            </li>
            <li>
                <b>Block/Enable</b>
            </li>
            <li>
            </li>
            <ng-container *ngFor="let plugin of accordion.PluginList">
                <li class="py-2">
                    <span class="text-secondary">{{plugin.ComplianceType}}</span>
                </li>
                <li class="py-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" [checked]="plugin.BlockingEnabled">
                        <label class="custom-control-label"></label>
                    </div>
                </li>
                <li class="py-2">
                    <a [href]="plugin.PluginDomain" class="text-secondary">Go to site</a>
                </li>
            </ng-container>
        </ul>
    </div>
</section>