<section class="p-3">
    <header>
        <app-switch 
            [label]="accordion?.CategoyHeading"
            [checked]="accordion?.IsMandatory"
            [name]="accordion?.CategoyHeading"
        ></app-switch>
        <a href="#" (click)="toggleExpansion($event)" class="text-secondary">
            <i class="bi" [class.bi-chevron-up]="isPluginExpanded" [class.bi-chevron-down]="!isPluginExpanded"></i>
        </a>
    </header>
    <div class="expanded" [class.expandable--expanded]="isPluginExpanded">
        <hr>
        <p class="text-secondary">{{accordion?.CategoyText}}</p>
        <ul>
            <li>
                <b>Plugins</b>
            </li>
            <li>
                <b>Block/Enable</b>
            </li>
            <li>
            </li>
            <ng-container *ngFor="let plugin of accordion?.PluginList">
                <li class="py-2">
                    <span class="text-secondary">{{plugin.ComplianceType}}</span>
                </li>
                <li class="py-2">
                    <app-switch [checked]="plugin.BlockingEnabled" [name]="plugin.ComplianceType"></app-switch>
                </li>
                <li class="py-2">
                    <a [href]="'//' + plugin.PluginDomain" target="_blank" class="text-secondary">Go to site</a>
                </li>
            </ng-container>
        </ul>
    </div>
</section>